/* visual styles */
.thing {
  background:#DDE2C6;
  border: 10px solid #BBC5AA;
  padding-top:15px;
  padding-bottom:15px;
}
.todos {
  padding-left: 15px;
  padding-top:30px;
  padding-bottom:15px;
  background:#E6EED6;
  margin: 0 auto;

}
body {
  padding-bottom:40px;
}
h1 {
  font-family: Calibri;
  text-color: green;
}

/* centering styles for jsbin */
html,
body {
  margin:0;
  padding:0;
}
